{% extends "base.html" %}


{% block title %}account_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/pention.css" %}{% endblock %}

{% block content %}

<style>
.ONE {

    background-image: url('/static/img/book/basic23.png');
}

table > thead > tr > th {
    text-align:center;
    padding :0px 0px 20px 0px;
}

table > tbody > tr > td > a > b {
    color:#303132;
    text-align:left;
    padding :0px 0px 0px 25px;
    vertical-align:middle;
}

.ab {
    color:#AEAEAF;
    float:right;
    padding: 4px 15px 0px 0px;
    vertical-align:middle;
}


</style>



<div id="content">
    <div class="ONE container-fluid">
        <div class="raw">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <br>
                <h4 style="color:#F7F8F9; text-align:center;">Golden Rule!! Action to Sucess!</h4>
                <h1 style="color:#F7F8F9; text-align:center;"><b>고객관리의 새로운 가치 창출</b></h1>
                <br><br>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="raw">
            <div class="col-lg-9 col-lg-offset-1 col-md-12 col-xs-12 col-sm-12">

                <br>
                <h3>&nbsp;사용자 안내</h3>
                <hr style=" border: 0;height:2px; background:#333332;">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            </div>  <!--큰그리드드 -->
        </div>  <!-- raw -->
    </div>   <!-- container-fluid --->

    <br>
    <br>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.min.js"></script>

</div>
{% endblock %}