<head>
{% extends "base.html" %}

{% block title %}logged_out.html{% endblock %}


</head>


<body>
{% block content %}

{% load staticfiles %}



<div id="content">
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class = "container">
        <div class = "law">
            <div class="aa col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1" style="position:relative; max-width : 100%; height : 550px; background-image: url('/static/img/bt/logout04.jpg'); background-size: cover;">
                <div class="col-lg-6 col-md-6">

                </div>
                <div class="col-lg-6 col-md-6" style="padding:150px 0px 0px 0px;">

                    <p style="text-align:center;">
                        <a href="#" class="btn btn-info btn-lg">
                          <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </p>
                    <br>

                    <h4 style="text-align:center;">정상적으로 <b>로그아웃</b> 되었습니다 </h4>
                    <br>

                    <h6 style="text-align:center;">"Thanks for spending your quality time <br>with this web site today."</h6>
                    <br><br><br><br>

                    <h5 style="text-align:center;"><a href="{% url 'login' %}">Log in again</a></h5>
                </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br>

            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
{% endblock %}

</body>