{% extends "base.html" %}

{% block title %}password_change_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}

{% load staticfiles %}



<div id="content">
    <br>
    <br>
    <br>

    <div class = "container">
        <div class = "law">
            <div class="aa col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1" style="position:relative; max-width : 100%; height : 550px; background-image: url('/static/img/bt/password02.jpg'); background-size: cover;">
                <div class="col-lg-6 col-md-6">


                </div>
                <div class="col-lg-6 col-md-6" style="padding:110px 0px 0px 0px;">
                    <p style="text-align:center;">
                        <i class="fa fa-edit" style="font-size:48px;color:red"></i>
                    </p>
                    <br>
                    <h3 style="text-align:center;"><b>비밀번호 변경</b> </h3>
                    <br>


                    <form action="." method="post">{% csrf_token %}

                    {% if form.errors %}
                    <h5 class="errornote" style="color:#DE741F;">Wrong! Please correct the error(s) below.</h5>
                    {% endif %}

                    <p style="text-align:center; ">Please enter your old password for security's sake,<br> and then enter your new password twice.</p>

                    <fieldset class="aligned" style="padding:30px 0px 0px 25px;">

                        <div class="form-group">
                            {{ form.old_password.label_tag }}&nbsp;  {{ form.old_password }}
                        </div>

                        <div class="form-group">
                            {{ form.new_password1.label_tag }}&nbsp; &nbsp;  {{ form.new_password1 }}
                        </div>

                        <div class="form-group">
                            {{ form.new_password2.label_tag }}&nbsp;  {{ form.new_password2 }}
                        </div>

                    </fieldset>
                        <br>
                        <div class="submit-row" style="text-align:center; padding:0px 35px 0px 30px;">

                            <input type="submit" class="btn btn-warning btn-block" value="Password Change ">

                                <!-- input type="hidden" name="next" value="/" / -->
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>


                    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                    </form>



                    <script type="text/javascript">document.getElementById('id_username').focus();</script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}




