/* Form Error */

.errornote {
    display: block;
    margin: 5px 0;
    border: 1px solid #c30;
    background: #fcf;
    padding: 5px 25px;
    color: #c30;
    font-size: 12px;
    font-weight: bold;
}


fieldset {
    border: 2px solid #ccc;
}

.aligned label {
    float: left;
    width: 150px;
    padding: 3px 3px 0 0;
}


.form-row,
.form-row.p {
    padding: 6px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}


.reserve {
    display: block;
    margin: 5px 80px 0px 0px ;
    border: 1px solid #0F242B;
    padding: 5px 20px;
    color: #242121;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

}

.aligned input,

.aligned input[type="text"],
.aligned input[type="checkbox"],
.aligned input[type="number"] {
    padding: .0.5em .1em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    text-align: center;


 }



.submit-row {
    margin: 5px 10px;
    text-align: right;
}

.submit-row input,
.submit-row a {
    margin: 5px 30px 0px 0px ;

}
