{% extends "base.html" %}

{% block title %}created.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/form03.css" %}{% endblock %}

{% load humanize %}   <!-- 세자리 콤마 찍기위해 로드함- settings.py에 앱추가함  -->

{% block content %}

<style>

.img-circle {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.img-circle:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.img {width:325px; height:280px; overflow:hidden }   /* 부모를 벗어나지 않고 내부 이미지만 확대 */


.thumbnail {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.thumbnail:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.img {width:325px; height:280px; overflow:hidden }   /* 부모를 벗어나지 않고 내부 이미지만 확대 */


.aa {                                               /* 페이지 오픈시 fade-in 시작 */
    animation: fadein 0.5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.ab {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}                                         /* 페이지 오픈시 fade-in 끝 */
</style>


<div id="content">
    <br>
    <div class="container-fluid">
        <div class="row">
             <div class="col-lg-10 col-md-12 col-xs-12 col-sm-12">

                <h5 style="color:#EF9365; text-align:right; padding:0px 40px 0px 0px;">Variable Insurance</h5>

            </div>   <!--그리드 -->

            <div class="col-lg-12 col-lg-offset-1 col-md-12 col-xs-12 col-sm-12">
                <div class="col-lg-2 col-md-3 col-xs-2 col-sm-3" style="padding:0px 10px 0px 0px;">
                    <br>
                    <table class="table table-bordered">
                          <thead>
                           <tr>
                             <th>
                                <div class="panel-group" id="accordion" >
                                    <div class="panel" style="border-color:white;">
                                      <div class="panel-heading" >
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                             <p><b>Ⅰ. 변액수익률 확인</b></p>
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp; <b>보험명 입력</b>
                                            </h5>
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp; <b>펀드 편입비율 입력</b>
                                            </h5>
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp;
                                                <b>보험 가입정보 입력</b>
                                            </h5>
                                            <h5 style="color:#565656; padding:0px 0px 3px 0px;">
                                                <span class="badge" style="background-color:#D46658; padding:6px 20px 6px 15px; font-size:12px;">
                                                    <span class="fas fa-caret-right"></span>&ensp;&nbsp;<b>투자현황 확인</b>
                                                </span>
                                            </h5>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <p><b>Ⅱ. 변액관리</b></p>
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h5>&emsp;
                                                <a href="{% url 'orders03:input' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 펀드변경</b></a>
                                            </h5>
                                            <h5>&emsp;
                                                <a href="{% url 'orders06:hungbu' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 흥부와 놀부</b></a>
                                            </h5>
                                            <h5>&emsp;
                                                <a href="{% url 'orders:fund' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 일반 적립식펀드</b></a>
                                            </h5>
                                            <span class="badge" style="background-color:white; color:white; padding:5px 20px 5px 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이것은 안나타남</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             </th>
                           </tr>
                       </thead>
                    </table>
                    <br><br><br><br><br><br><br>
                </div>   <!--그리드 -->

                <div class="col-lg-7 col-md-9 col-sm-9" style="padding:0px 0px 0px 40px;">
                    <div style="background-color:#FBFCFE;">

                        <h4 style="text-align:center; padding:20px 60px 0px 0px;">
                            <b>가입상세현황 및 <span style="color:#E96437;">예상 해지환급금,연금액</span> 보기</b>
                            <i class='fas fa-feather' style='font-size:48px;color:red'></i>
                        </h4>

                        <h5 style="text-align:center; padding:20px 60px 0px 0px;">가입하신 변액상품의 현재 현황파악을 통하여 효율적인 운영방법 및  </h5>
                        <h5 style="text-align:center; padding:0px 60px 0px 0px;">예상연금액 등을 확인하실 수 있습니다.  </h5>
                        <hr style=" border: 0; height:1px; background:#333332;">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding:20px 20px 20px 20px;">

                        <div class="aa thumbnail text-center" style="border-color:#B9B9BA; border-radius:10px;">
                            <h3 style="text-align:left; padding:0px 0px 0px 50px; color:#338ACF;"><b>__</b></h3>
                            <h4 style="text-align:left; padding:0px 0px 0px 50px;"><b>가입현황</b></h4>
                            <h6 style="text-align:left; padding:0px 0px 0px 50px;">현재 가입 상세현황 및 보유펀드의 수익률 등을<br> 확인하실 수 있습니다.</h6>
                            <img src={% static "img/created02.jpg" %} alt="...">
                            <div style="text-align:right; padding:10px 20px 40px 0px;">
                                <a href='{% url "orders:basic" %}' class="btn btn-default btn-outline-success" onMouseOver="this.style.backgroundColor='#77CC61'" onMouseOut="this.style.backgroundColor=''">
                                    <span style="color:#838384;" onMouseOver="this.style.color='white';" onMouseOut="this.style.color='#838384'">가입 상세현황</span>
                                </a>
                                <a href='{% url "orders:earning" %}' class="btn btn-default btn-outline-success" onMouseOver="this.style.backgroundColor='#77CC61'" onMouseOut="this.style.backgroundColor=''">
                                    <span style="color:#838384;" onMouseOver="this.style.color='white';" onMouseOut="this.style.color='#838384'">보유펀드 현황</span>
                                </a>
                            </div>


                        </div>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding:20px 20px 20px 20px;">

                       <div class="ab thumbnail text-center" style="border-color:#B9B9BA;  border-radius:10px;">
                           <h3 style="text-align:left; padding:0px 0px 0px 30px; color:#338ACF;"><b>___</b></h3>
                           <h4 style="text-align:left; padding:0px 0px 0px 30px;"><b>예상 해지환급금/ 예상연금액</b></h4>
                           <h6 style="text-align:left; padding:0px 0px 30px 30px;">현재 예상수익률에 의한 예상 해지환급금 및 연금액을<br> 보실 수 있습니다.</h6>
                           <img src={% static "img/created05.jpg" %} alt="...">
                           <div style="text-align:right; padding:24px 20px 40px 0px;">
                               <a href='{% url "orders:return" %}' class="btn btn-default btn-outline-success" onMouseOver="this.style.backgroundColor='#77CC61'" onMouseOut="this.style.backgroundColor=''">
                                   <span style="color:#838384;" onMouseOver="this.style.color='white';" onMouseOut="this.style.color='#838384'">예상 해지환급금</span>
                               </a>
                               <a href='{% url "orders:pention" %}' class="btn btn-default btn-outline-success" onMouseOver="this.style.backgroundColor='#77CC61'" onMouseOut="this.style.backgroundColor=''">
                                   <span style="color:#838384;" onMouseOver="this.style.color='white';" onMouseOut="this.style.color='#838384'">예상 연금액</span>
                               </a>
                           </div>
                        </div>


                    </div>
                    <div>

                        <i class="fa fa-warning" style="font-size:18px; color:#E96437; padding:20px 0px 0px 0px;">
                            <small><small>주의 :</small></small><small style="color:#8D8E8E;"><small> 위 자료는 입력하신 자료를 근거로 작성된 것으로 실제 매월 납입일의 차이, 상품별 사업비의 상이
                            <br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;등으로 실제와 약간의 차이가 있을 수 있으므로 참고용으로만 사용하시기 바랍니다. </small></small>
                        </i>

                        <br>

                        <br><br><br>
                    </div>
                </div>

            </div>  <!-- 그리드 -->
          </div>  <!-- row -->
    </div>
</div>
{% endblock %}