{% extends "base.html" %}

{% block title %}orders03_pention.html{% endblock %}

{% load staticfiles %}
{% load mathfilters %}    /* 빼기 곱하기 나누기 를 위해 설치*/
{% block extrastyle %}{% static "css/form03.css" %}{% endblock %}

{% load humanize %}      <!--- 세자리 콤마 찍기위해 로드함- settings.py에 앱추가함 -->
{% load pentions_filter %}   <!-- 내가 만든 사용자정의필터 아래 monthly_pention사용--->

{% block content %}


<div id="content">
    <br>

   <div class="container-fluid">
        <div class="row">
           <div class="col-lg-10 col-md-12 col-xs-12 col-sm-12">

                <h5 style="color:#EF9365; text-align:right; padding:0px 40px 0px 0px;">Variable Insurance</h5>

            </div>   <!--그리드 -->


            <div class="col-lg-12 col-lg-offset-1 col-md-12 col-xs-12 col-sm-12">
                <div class="col-lg-2 col-md-3 col-xs-2 col-sm-3" style="padding:0px 10px 0px 0px;">
                    <br>
                    <table class="table table-bordered">
                          <thead>
                           <tr>
                             <th>
                                <div class="panel-group" id="accordion" >
                                    <div class="panel" style="border-color:white;">
                                      <div class="panel-heading" >
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                             <p><b>Ⅰ. 변액수익률 확인</b></p>
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp;
                                                <b>보험명 입력</b>
                                                 <a style="color:#529599; font-size:11px;" href="{% url 'shop:product_all' %}">&ensp; &ensp; >>다시 입력</a>
                                            </h5>
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp; <b>펀드 편입비율 입력</b>
                                            </h5>
                                            <h5 style="color:#565656; padding:0px 0px 3px 10px;">
                                                <span class="fas fa-caret-down"></span>&ensp; <b>보험 가입정보 입력</b>
                                            </h5>

                                            <h5>
                                                <span class="badge" style="background-color:#DD6340;  padding:5px 20px 5px 13px;">
                                                    <span class="fas fa-caret-right"></span>&ensp; <b>투자현황 확인</b>
                                                </span>
                                            </h5>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <p><b>Ⅱ. 변액관리</b></p>
                                          </a>
                                        </h4>
                                      </div>
                                     <div id="collapseTwo" class="panel-collapse collapse in">
                                       <div class="panel-body">
                                            <h5>&emsp;
                                                <a href="{% url 'orders03:input' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 펀드변경</b></a>
                                            </h5>
                                            <h5>&emsp;
                                                <a href="{% url 'orders06:hungbu' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 흥부와 놀부</b></a>
                                            </h5>
                                            <h5>&emsp;
                                                <a href="{% url 'orders:fund' %}"><b onMouseOver="this.style.color='#DE781F';" onMouseOut="this.style.color=''"> ● 일반 적립식펀드</b></a>
                                            </h5>
                                            <span class="badge" style="background-color:white; color:white; padding:5px 20px 5px 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이것은 안나타남</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             </th>
                           </tr>
                       </thead>
                    </table>
                    <br><br><br><br><br><br><br><br>
                </div>   <!--그리드 -->

                <div class="col-lg-7 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0" style="padding:0px 0px 0px 40px;">
                    <br>
                    <h4 style="padding:0px 0px 10px 0px; color:#343535;">
                        <b><span class="fas fa-arrow-alt-circle-right"></span>&ensp; 투자현황  확인</b>
                    </h4>
                    <ul class="nav nav-tabs" style="font-size:14px;">
                        <li><a style="color:#0C2031;" href="{% url 'orders:basic' %}">가입 상세현황</a></li>
                        <li><a style="color:#0C2031;" href="{% url 'orders:earning' %}">보유 펀드현황</a></li>
                        <li><a style="color:#0C2031;" href="{% url 'orders:return' %}">예상 해지환급금</a></li>
                        <li class="active"><a style="color:#0C2031;" href="#" ><b>예상 연금액</b></a></li>
                        <li><a style="color:#0C2031;" href="{% url 'orders07:list' %}" %>펀드선택 (BM)</a></li>
                     </ul>
                </div>


                <div class="col-lg-7 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0" style="padding:0px 0px 0px 40px;">

                    <br>
                    <div style="background-color:#FBFCFE;">

                        <h4 style="text-align:center; padding:10px 0px 0px 0px;">
                            <b>예상 <span style="color:#E96437;">연금예상액</span> 예시</b>
                            <i class='fas fa-feather' style='font-size:26px;color:red'></i>
                        </h4>

                        <h6 style="text-align:center; padding:0px 0px 0px 0px;">납입기간내 정상 완납하고 현재까지 예상수익률로   </h6>
                        <h6 style="text-align:center; padding:0px 0px 0px 0px;">지속적으로 운용되었을 경우의 예시표입니다.  </h6>
                        <hr>
                        {% for result in object_list00 %}
                           <h5 style="text-align:center; padding:0px 0px 15px 0px;">＊ 총 납입금액 : {{ result.total_premium|floatformat:"0"|intcomma }}원</h5>
                           <h5 style="text-align:center; padding:0px 0px 0px 0px;">
                               <b style="border: 1px solid #565856; padding:10px 50px 10px 50px; box-shadow: 2px 2px 0px 0px rgba(163, 174, 184, 0.7);">
                                연금지급개시시점 연금계약적립액 : {{ result.pention_money|floatformat:"0"|intcomma }}원
                               </b>
                           </h5>
                           <h5 style="text-align:center; padding:15px 0px 0px 0px;">( 환급률 :
                               {% if result.return_rate > 100 %}
                               <b style="color:red;">▲{{ result.return_rate|floatformat:"1"|intcomma }}% )</b>
                               {% else %}
                               <b style="color:blue;">▼{{ result.return_rate|mul:-1|floatformat:"1"|intcomma }}% )</b>
                               {% endif %}
                           </h5>
                        {% endfor %}

                        <hr style=" border: 0; height:1px; background:#333332;">
                    </div>
                    <br>


                    <br>
                     <table class="table table-bordered table-hover" style="font-size:1.1em;">
                        <thead style="border-top:2px solid #9B959C;">
                            <tr class="active">
                                <th class = "text-center">연금형태</th>
                                <th class = "text-center">구분</th>
                                <th class = "text-center">연금연액</th>
                                <th class = "text-center">연금월액</th>
                                <th class = "text-center">총연금액</th>
                            </tr>
                        </thead>

                        {% for pention in object_list00 %}
                        <tbody class = "text-center">
                            <tr>
                                <td rowspan="3">확정연금형</td>      <!--monthly_pention: 사용자정의필터  -->
                                <td>10년</td>
                                <td>{{ pention.set_10|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.set_10|monthly_pention|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.total_set_10|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>15년</td>
                                <td>{{ pention.set_15|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.set_15|monthly_pention|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.total_set_15|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>20년</td>
                                <td>{{ pention.set_20|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.set_20|monthly_pention|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.total_set_20|floatformat:"0"|intcomma }}</td>
                            </tr>

                            <tr>
                                <td rowspan="3">종신연금형</td>
                                <td style="background-color:#F5FBFD;">10년 보증</td>
                                <td style="background-color:#F5FBFD;">{{ pention.whole_10|floatformat:"0"|intcomma }}</td>
                                <td style="background-color:#F5FBFD;">{{ pention.whole_10|monthly_pention|floatformat:"0"|intcomma }}</td>
                                <td style="background-color:#F5FBFD;">{{ pention.total_whole_10|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>
                               <td>20년 보증</td>
                               <td>{{ pention.whole_20|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.whole_20|monthly_pention|floatformat:"0"|intcomma }}</td>
                               <td>{{ pention.total_whole_20|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>
                               <td>80세 보증</td>
                               <td>{{ pention.whole_80|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.whole_80|monthly_pention|floatformat:"0"|intcomma }}</td>
                               <td>{{ pention.total_whole_80|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>
                               <td rowspan="2">상속연금형</td>
                               <td>연금액</td>
                               <td>{{ pention.inherit_month|floatformat:"0"|intcomma }}</td>
                                <td>{{ pention.inherit_month|monthly_pention|floatformat:"0"|intcomma }}</td>
                               <td>{{ pention.total_inherit_month|floatformat:"0"|intcomma }}</td>
                            </tr>
                            <tr>

                               <td>사망시일시금</td>
                               <td colspan="3">{{ pention.inherit_lumpsum|floatformat:"0"|intcomma }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                   <p>※ 총연금액은 100세까지 생존시 받을 수 있는 연금총액입니다.</p>

                    <br>

                    <h5>
                        <b style="color:#C83219;">【주의】</b>
                        <small>본 예상연금액는 현재까지의 예상수익률로 향후에도 운영되었을 때를 예시한 것으로,
                            실제 수익률의 변동, 연금개시 후 공시이율 등으로 변경될 수 있으므로 참고용으로만 사용하시기 바랍니다.</small>
                    </h5>
                    <br>
                    <div>
                        <img src={% static "img/pention30.jpg" %} alt="...">
                    </div>


            </div>   <!-- 그리드 끝-->
        </div>  <!-- raw -->
    </div>  <!-- container -->
</div>
<br><br>



{% endblock %}