{% extends "base.html" %}

{% block title %}ma100in_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/form01.css" %}{% endblock %}

{% load humanize %}   <!-- 세자리 콤마 찍기위해 로드함- settings.py에 앱추가함  -->


{% block content %}


<div id="content">
    <br>
    <br>
    <br>

    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-1" style="padding:10px 60px 0px 0px;">

                <h3 style="padding: 0px 0px 0px 0px;">
                <span class="glyphicon glyphicon-object-align-bottom" style="color:blue;"></span> 변액
                </h3>
                <h5 style="padding: 0px 0px 0px 30px;">...............</h5>
                <br>
            <BR>

            <br>
        </div>   <!--그리드 -->
        </div>  <!-- row -->
    </div>       <!--    container-fluid  --->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-10 col-sm-4 col-md-offset-1">

            </div>

            <div class="col-md-6 col-xs-10 col-sm-6" >





            </div>
        <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</div>



{% endblock %}